mixin stateList(states)
  ul.flat-list
    for id in states
      - var state = statesById[id];
      li.state: a(href=state.url)= state.name

extends layout

append title
  = "::" + name

block description
  meta(name="description", content="#{description}")

block body
  section.byway
    header
      h1= name
      p
        span= distance
        span= ' miles - '
        span= duration
      +stateList(states)
    .description
      .photos.hidden(data-bounds=bounds)
        ul.swipe
        a.next(href='') ▶
        a.prev(href='') ◀
      .books.hidden(data-name=name)
      != contents

  section.map
    iframe(src=furkotUrl + '/widget/byway/' + id,
      class="furkot-tripshot-widget",
      data-link=".widget-style a",
      data-link-hover="color: #d98e1b; text-decoration: none;",
      data-heading="background-color: #1c518d;"
    )
    script(src="https://cdn.furkot.com/scripts/furkot-tripshot.min.js", defer)

  if websites
    section.websites
      ul.flat-list
        for link in websites
          li: a(href=link.url)= link.name

  .widget-style.websites.hidden
    a(style='font-size: 1.2em; text-align: left;')
  .templates.hidden
    ul.photo-template
      li
        figure.photo
          img
          figcaption.caption
            a.title
            a.author
            .copy

    .book-template
      figure.book
        a(rel='noopener', target='_blank')
          img
        figcaption.hidden
          .title
          .author
