mixin stateList(states)
  ul.flat-list
    for id in states
      - var state = contents.state[id + '.json'];
      li.state: a(href=state.url)= state.metadata.name

extends layout

append title
  = "::" + page.metadata.name

block description
  meta(name="description", content="#{page.metadata.description}")

block body
  section.byway
    header
      h1= page.metadata.name
      p
        span= page.metadata.distance
        span= ' miles - '
        span= page.metadata.duration
      +stateList(page.metadata.states)
    .description
      .photos.hidden(data-bounds=page.metadata.bounds)
        ul.swipe
        a.next(href='') ▶
        a.prev(href='') ◀
      .books.hidden(data-name=page.metadata.name)
      != page.html

  if page.metadata.path
    section.map
      iframe(src=locals.furkotUrl + '/widget/byway/' + page.metadata.id,
        class="furkot-tripshot-widget",
        data-link=".widget-style a",
        data-link-hover="color: #d98e1b; text-decoration: none;",
        data-heading="background-color: #1c518d;",
        data-map-styles="#map-styles")
      script(src="https://cdn.furkot.com/scripts/furkot-tripshot.min.js", defer)

  if page.metadata.websites
    section.websites
      ul.flat-list
        for link in page.metadata.websites
          li: a(href=link.url)= link.name

  .widget-style.websites.hidden
    a(style='font-size: 1.2em; text-align: left;')
  .templates.hidden
    ul.photo-template
      li
        figure.photo
          img
          figcaption.caption
            a.title
            a.author
            .copy

    .book-template
      figure.book
        a(rel='noopener', target='_blank')
          img
        figcaption.hidden
          .title
          .author
