extends layout

mixin bywaysList(name, byways)
  section.byway-list(data-color=colors[name])
    header
      h2= name
      .color-tag(style='background-color: #{ colors[name] };')
    ul.flat-list
      for byway in byways
        li: a(href=byway.url data-ll=byway.ll)= byway.name


block body
  include searchbox

  section.us-map

  section.states
    ul.flat-list
      for state in states
        li: a(href=state.url)= state.name
  for byways, name in designations
    mixin bywaysList(name, byways)
