extends layout

include mixins

mixin bywaysList(name, byways)
  section.byway-list(data-color=colors[name])
    header
      h2= name
      .color-tag(style=`background-color: ${ colors[name] };`)
    ul.flat-list
      for byway in byways
        li: a(href=byway.url)= byway.name


block body
  include searchbox

  section.map
    iframe.furkot-tripshot-widget(src=furkotUrl + '/widget/byways',
      data-link=".widget-style a",
      data-link-hover="color: #d98e1b; text-decoration: none;",
      data-heading="background-color: #1c518d;"
    )
    script(src="https://cdn.furkot.com/scripts/furkot-tripshot.min.js", defer)

  section
    .books.hidden(data-id='1426219059,1426221665,1426218850,1838691944,1788684184', data-max=5)

  section.states
    ul.flat-list
      for state in states
        li: a(href=state.url)= state.name
  for byways, name in designations
    +bywaysList(name, byways)

  .templates.hidden
    +bookTemplate()
