!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      block title
        = locals.siteTitle
    block description
      meta(name="description", content="#{locals.siteDescription}")
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Arbutus+Slab|Capriola')
    link(rel='stylesheet', type='text/css', href='/style/screen.css?v=#{locals.version}')
  body
    header
      hgroup
        a(href="/")
          h1= locals.title
    #main
      block body
    footer
      ul.flat-list
        li: a(href="http://code42day.com", target="_blank") code42day
        li: a(href="https://trips.furkot.com", target="_blank") Plan trip with Furkot
        li: a(href="mailto:byways@code42day.com") E-mail us
        li: a(href="/about.html") About
        li Powered by <a href="http://wintersmith.io" rel="external" target="_blank">Wintersmith</a>

    block scripts
      - var min = (env.mode == 'preview') ? '' : '.min'
      script(src='/build/build#{min}.js?v=#{locals.version}')
      script.
        var boot = require('boot');
