mixin dir(pages)
  for p in locals[pages]
    url
      loc #{siteUrl}#{p.url}
      changefreq weekly

doctype xml
urlset(
  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
)
  url
    loc= siteUrl
    changefreq weekly
    priority 0.8

  url
    loc #{siteUrl}/about.html
    changefreq weekly
    priority 0.8

  +dir('byways')
  +dir('states')
