mixin dir(pages)
  for p in contents[pages]._.pages
    url
      loc #{locals.url}#{p.url}
      changefreq weekly

!!!xml
urlset(
  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
)
  url
    loc= locals.url
    changefreq weekly
    priority 0.8

  url
    loc #{locals.url}/about.html
    changefreq weekly
    priority 0.8

  +dir('byway')
  +dir('state')
