extends layout

include mixins

append title
  = "::" + name

block description
  - var bywaysStr = stateByways.map(id => bywaysById[id].name).join(', ');
  meta(name="description", content=`${name} most scenic roads: ${bywaysStr}.`)

mixin bywaysList(byways, name)
  -
    var defaultColor = colors['Other Scenic Road'];
  if byways
    section.byway-list
      if name
        header
          h2= name
      ul.flat-list
        for id in byways
          -
            var byway = bywaysById[id];
            var color = (byway.designations && colors[byway.designations[0]]) || defaultColor;
          li: a(
            href=byway.url
          )= byway.name


block body
  include searchbox

  section.map
    iframe.furkot-tripshot-widget(src=furkotUrl + '/widget/byways/' + slug,
      data-link=".widget-style a",
      data-link-hover="color: #d98e1b; text-decoration: none;",
      data-heading="background-color: #1c518d;"
    )
    script(src="https://cdn.furkot.com/scripts/furkot-tripshot.min.js", defer)

  section
    .books.hidden(data-name=name, data-keywords=name + ' Byways', data-max=5)

  +bywaysList(stateByways, name)
  +bywaysList(multistateByways)
  +websiteList(websites)

  .templates.hidden
    +bookTemplate()
