extends layout

include mixins

append title
  = "::" + name

block description
  -
   const bywaysStr = Object.values(stateByways).reduce((result, byways) => {
      byways.forEach(id => result.push(bywaysById[id].name));
      return result;
    }, []).join(', ');
  meta(name="description", content=`${name} most scenic roads: ${bywaysStr}.`)

mixin bywaysList(byways)
  ul.flat-list
    for id in byways
      - const byway = bywaysById[id];
      li: a(href=byway.url)= byway.name

mixin bywaysByDesignation(name, byways)
  section.byway-list(data-color=colors[name])
    header
      h2= name
      .color-tag(style=`background-color: ${ colors[name] };`)
    +bywaysList(byways)

block body
  include searchbox

  section.byway
    header
      h1= name

  section.map
    iframe.furkot-tripshot-widget(src=furkotUrl + '/widget/byways/' + slug,
      data-link=".widget-style a",
      data-link-hover="color: #d98e1b; text-decoration: none;",
      data-heading="background-color: #1c518d;"
    )
    script(src="https://cdn.furkot.com/scripts/furkot-tripshot.min.js", defer)

  section
    .books.hidden(data-name=name, data-keywords=name + ' Byways', data-id=books, data-max=5)

  for byways, name in stateByways
    +bywaysByDesignation(name, byways)
  if multistateByways
    section.byway-list
      +bywaysList(multistateByways)
  +websiteList(websites)

  .templates.hidden
    +bookTemplate()
