extends layout

append title
  = "::" + name

block description
  - var bywaysStr = byways.map(id => bywaysById[id].name).join(', ');
  meta(name="description", content="#{name} most scenic roads: #{bywaysStr}.")

mixin bywaysList(name, byways)
  -
    var defaultColor = colors['Other Scenic Road'];
  section.byway-list
    header
      h2= name
    ul.flat-list
      for id in byways
        -
          var byway = bywaysById[id];
          var color = (byway.designations && colors[byway.designations[0]]) || defaultColor;
        li: a(
          href=byway.url
          data-ll=byway.ll
          data-bounds=byway.bounds
          data-color=color
          data-path=byway.encodedPaths
        )= byway.name


block body
  include searchbox
  section.state-map
  mixin bywaysList(name, byways)
