extends layout

mixin bywaysList(name, byways)
  - function bywayMeta(id) { return contents.byway[id + '.json'].metadata; };
  - var defaultColor = locals.colors['Other Scenic Road'];
  section.byway-list
    header
      h2= name
    ul.flat-list
      for id in byways
        - var byway = bywayMeta(id);
        li: a(
          href="/byway/#{id}.html",
          data-ll=byway.ll,
          data-bounds=byway.bounds,
          data-color=(byway.designations && locals.colors[byway.designations[0]]) || defaultColor,
          data-path=byway.path && (Array.isArray(byway.path) ? byway.path : [ byway.path ])
        )= byway.name


block body
  - var byway_data = [], byway_colors = {};
  include searchbox
  section.state-map
  mixin bywaysList(page.metadata.name, page.metadata.byways)